/* possible colour  */

/* HOMEPAGE */

body{
    margin: 0px;
    background-color: #1f241c;
    color: white;
}

h1{
    font-style:italic;
    padding: 20px;
}

.logo{
    height: 75px;
    padding: 0 10px 0 0;
}

header{
    display: flex;
    justify-content: center;
}

.heroBanner{
    background-color: #242424;
}